body {

  margin: 0;
  overflow: hidden;

  background: black;
  color: white;

   font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}


#mainText {

  width: 80%;

  text-align: center;

  font-size: 2rem;

  line-height: 1.6;

  user-select: none;
}


.word {

  display: inline-block;

  transition:
    transform 0.08s,
    letter-spacing 0.08s,
    opacity 1s,
    filter 1s;
}


.hateWord {

  color: #ff2a2a;
}


#finalPhrase {

  position: absolute;

  top: 50%;
  left: 50%;

  transform:
    translate(-50%, -50%);

  color: red;

  font-size: 6rem;

  text-align: center;

  cursor: pointer;

  user-select: none;

  text-shadow:
    0 0 20px red;

  transition:
    text-shadow 0.1s,
    letter-spacing 0.1s;
}

#glitchLayer {
  position: fixed;
  inset: 0;
  background-image: url("binarycodeflash.gif");
  background-size: cover;
  background-position: center;
  opacity: 0.13;
  mix-blend-mode: screen;
  filter: contrast(180%) saturate(140%);
  pointer-events: none;
  z-index: 0;
  animation: glitchIdle 5s infinite steps(2);
}